<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      myApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Buku Resep Makanan</ion-card-subtitle>
      <ion-card-title>Resep Unik</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <ion-button href="/resep/thisisid9012">more</ion-button>
      <ion-button (click)="go()">more</ion-button>
      <ion-button expand="full" routerLink="/resep">Baca Selengkapnya</ion-button>
    </ion-card-content>

  </ion-card>